{% extends "./layout.html" %}
{% load static %}
{% block body %}

        <div class="about-us-main">
            <div class="about-us-hero" style="background-color: transparent;">
                <h1>Who Are We</h1>
            </div>

            <div class="who-are-we">
                <div class="about-us-flex">
                    <p class="who-are-we-par">
                        In Rwanda, as in many African countries, there is a growing emphasis on integrating technology into education. However, a significant gap remains in accessible, child-friendly programming education. Most digital learning platforms target adult learners or older students, leaving primary and lower-secondary students (ages 9–12) underserved. This digital divide is particularly evident in rural schools, where access to traditional computer science education is nearly non-existent.
                        <br>
                        <br>
                        Despite the national push toward ICT integration in schools, many young students still lack engaging tools that make programming fun and understandable. Children often struggle with abstract programming concepts when taught through traditional or “text-heavy” methods, leading to disengagement and lost potential.
                        <br><br>
                        This initiative addresses this gap by developing an AI-powered (Human-verified AI content), gamified, and fun coding platform tailored specifically for young learners in Rwanda. Through visual block-based programming and interactive AI-generated content, the tool will make coding intuitive, exciting, and accessible—even in low-resource environments.

                    </p>
                    <div class="desktop-design we-are-div">
                        <p class="desktop-design we-are-rem">We <br> <span class="are">Are</span> <br> AndikaKode</p>
                    </div>
                </div>
            </div>

            <div class="ceo-word">
                <img src="{% static 'img/avatar-1.png' %}" alt="" class="ceo-img">
                <h4>N Aimable</h4>
                <h5>Founder & CEO</h5>
                <p>"The purpose of ‘AndikaKode: Interactive Python Tutor For Kids 1.0’ is to introduce children (8-12) to foundational programming concepts through browser-based Python lessons and a safe code editor. It aims to make learning fun with gamification (badges, challenges) addressing the lack of coding resources for young beginners."</p>
                <img src="images/quote.png" alt="" id="quote-sign">
            </div>
        </div>

{% endblock %}