{% extends "./layout.html" %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="contact-us-hero">
            <!-- <h4>GET IN TOUCH</h4> -->
            <h1>Contact Us</h1>
        </div>

        <div class="contact-us-section-one">
            <div class="contact-us-form-section">
                <h2 class="contact-us-main-title">Do you have any <span>questions?</span></h2>
                <p>We’d love to hear from you! Whether you have inquiries about our initiatives, partnership opportunities, or how to get involved, feel free to reach out. Our team is here to assist you and provide the information you need</p>

                <form action="" class="contact-us-form">
                    <input type="text" name="" id="" placeholder="Name">
                    <input type="text" name="" id="" placeholder="Email">
                    <input type="text" name="" id="" placeholder="Phone">
                    <input type="text" name="" id="" placeholder="Subject">
                    <textarea rows="7" cols="42" placeholder="Enter your Message Here..."></textarea>

                    <input type="submit" value="submit" id="contact-us-btn">
                </form>
            </div>
            <div class="address-box">
                <h3>Office Address:</h3>
                <ul>
                    <li>KK 424  st 5</li>
                    <li>Kicukiro - Kigali</li>
                    <li>Rwanda</li>
                </ul>
                <h3>Work Hours:</h3>
                <ul>
                    <li>Days: Mon - Sun</li>
                    <li>Hours: 24/7</li>
                </ul>
                <h3>Contact:</h3>
                <ul>
                    <li>Phone: +250000999</li>
                    <li>Email: support@andikakode.com</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}