{% extends "./layout.html" %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="courses">
             <div class="about-us-hero" style="background-color: transparent;">
                <h1>Courses</h1>
            </div>

            <div class="all-courses courses-grid">
                <div class="course">
                    <a href="{% url 'andikakode:course' %}">
                        <img src="{% static 'img/sample-image-course.png' %}" alt="">
                    </a>
                    <p>Introduction to Python</p>
                </div>
                <div class="course">
                    <img src="{% static 'img/sample-image-course.png' %}" alt="">
                    <p>Introduction to Print Statements</p>
                </div>
                <div class="course">
                    <img src="{% static 'img/sample-image-course.png' %}" alt="">
                    <p>Introduction to Print Statements</p>
                </div>
                <div class="course">
                    <img src="{% static 'img/sample-image-course.png' %}" alt="">
                    <p>Introduction to loops and conditionals</p>
                </div>
                <div class="course">
                    <img src="{% static 'img/sample-image-course.png' %}" alt="">
                    <p>Introduction to User inputs</p>
                </div>
                <div class="course">
                    <img src="{% static 'img/sample-image-course.png' %}" alt="">
                    <p>Introduction to Print Statements</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}