{% extends "./layout.html" %}
{% load static %}
{% block body %}
    <div class="courses-container">
        <div class="courses">
             <div class="about-us-hero" style="background-color: transparent;">
                <h1>Courses</h1>
            </div>

            <div class="all-courses courses-grid">
                {% for course in courses %}
                    <div class="course transit">
                        <a href="{% url 'andikakode:course' course.id %}">
                            <img src="{{ course.course_card.url }}" alt="{{ course.title }}">
                        </a>
                        <p>{{ course.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}