{% extends "./layout.html" %}
{% load static %}
{% block body %}
<div class="container">
    <div class="dashboard-grid">
        <div class="profile">
            <p class="user-name zoom-on-load"><span id="hi">Hi {{ user.username }}</span>!</p>
            <img id="name-underline" src="{% static 'img/underlines/name-underline.svg' %}" alt="">
            <img src="{% static 'img/avatar-1.png' %}" class="avatar" alt="">
            <p id="ready-to-code">Ready to code today?</p>
            <button id="yes-btn" class="transit">yes</button>
            <p>current streak /<span>Days</span></p>
            <div class="streak-circles">
                <div class="streak-circle">1</div>
                <img src="{% static 'img/Arrow.svg' %}" alt="">
                <div class="streak-circle">2</div>
                <img src="{% static 'img/Arrow.svg' %}" alt="">
                <div class="streak-circle">3</div>
                <img src="{% static 'img/Arrow.svg' %}" alt="">
                <div class="streak-circle">4</div>
                <img src="{% static 'img/Arrow.svg' %}" alt="">
                <div class="streak-circle">5</div>
            </div>
        </div>
        <div class="progress-content">
            <h1>Here's your road to becoming a Python programmer</h1>
            <img id="road-underline" src="{% static 'img/underlines/main-underline.svg' %}" alt="">
            <div class="chapters">
                <div class="chapter transit">
                    <div class="stars">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                    </div>
                    <div class="chapter-number greeny">
                        <p>1</p>
                    </div>
                    <div class="chapter-completion-rate">
                        <p>chapter 1: 0%</p>
                    </div>
                </div>
                <div class="chapter transit">
                    <div class="stars">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                    </div>
                    <div class="chapter-number orange">
                        <p>2</p>
                    </div>
                    <div class="chapter-completion-rate">
                        <p>chapter 2: 0%</p>
                    </div>
                </div>
                <div class="chapter transit">
                    <div class="stars">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                    </div>
                    <div class="chapter-number yellow">
                        <p>3</p>
                    </div>
                    <div class="chapter-completion-rate">
                        <p>chapter 3: 0%</p>
                    </div>
                </div>
                <div class="chapter transit">
                    <div class="stars">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                        <img src="{% static 'img/star/empty-star.svg' %}" alt="">
                    </div>
                    <div class="chapter-number grey">
                        <p>4</p>
                    </div>
                    <div class="chapter-completion-rate">
                        <p>chapter 4: 0%</p>
                    </div>
                </div>
            </div>
            <button id="continue-coding" class="transit">Continue coding</button>
        </div>
    </div>
</div>
{% endblock %}