{% extends "./layout.html" %}
{% load static %}
{% block body %}
    <div class="container">
        <!-- main content -->
        <div class="content main-col">

            <!-- main content -->
            <div class="main-content">
                <h1 class="dive"><span class="span-orange">dive</span> into the <span class="span-yellow">greatness</span> of <span class="span-green">learning</span> <span class="span-blue">python</span></h1>
                <p class="home-para-intro">Online educational platform for digital skills where students aged between 6-17 makes their dreams come true by designing real projects</p>
                <button>Start Coding </button>
                <div class="aside-content">
                    <div class="kids-circle-area"></div>
                    <div class="join-creators">
                        <p class="join-para">200+ <br>
                        Creators</p>
                        <p>yesterday's kids <br> tomorrow's <b>creators</b></p>
                    </div>
                </div>
            </div>
            <div class="right-banner">
                <img src="{% static 'img/Right-banner-HD.png' %}" alt="">
            </div>
        </div>
        <!-- main content ends here -->
    </div>
{% endblock %}