{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-section">
        <div class="overlay"></div>
        <nav>
            <h1 style="color: #08A5D4; font-family: 'atma', sans-serif;">AndikaKode</h1>
        </nav>
        <div class="login-inputs">
            <form action="{% url 'andikakode:login' %}" method="POST">
                {% csrf_token %}
                <div>
                    <h2 style="font-family: 'atma', sans-serif; font-size: 32px;">Sign In</h2>
                    <p style="font-family: 'atma', sans-serif; font-size: 22px;">Sign in to continue</p>
                </div>
                <div>
                    <input type="text" name="username" id="" placeholder="Username..."> <br>
                    <input type="password" name="password" id="" placeholder="Password..."> <br>
                    <input type="submit" id="submit-log-in" value="Login" style="font-family: 'atma', sans-serif; font-size: 18px; background-color: #A2BF00;">
                </div>

                <!-- for displaying error messages -->
                {% for message in messages %}
                    <p id="mesages" style="color: purple;">{{ message}}</p>
                {% endfor %}

                <p style="font-family: 'atma', sans-serif; font-size: 18px;">Don't have an account?</p>
                <p style="font-family: 'atma', sans-serif; font-size: 22px;"><a href="{% url 'andikakode:register' %}" class="create-acc" style="color: #A2BF00; font-weight: 700;">Create Account</a></p>
                <p style="font-family: 'atma', sans-serif; font-size: 16px;"><a href="#" class="forgot-pwd">Forgot Password</a></p>
            </form>
        </div>
        <footer>
            <p class="copyright"> &copy; copyright 2025 | AndikaKode</p>
        </footer>
    </div>
</body>
</html>