{% extends './layout.html' %}
{% block body %}
    <div class="container">
        <div class="course-main-content">
            <h1 id="course-title"><span class="span-orange">chapter</span>: {{ course.title }}</h1>
            <p class="course-description">{{ course.description }}</p>

            <!-- Embedded Video -->
            <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden;" class="course-video">
                <iframe
                    src="https://www.youtube.com/embed/bdUqQidffPE?rel=0"
                    frameborder="0"
                    allowfullscreen
                    style="position:absolute; top:0; left:0; width:100%; height:100%;">
                </iframe>
            </div>

            <div class="row-course-data">
                <p class="course-intro">{{ course.title }}</p>
                <!-- Goals -->
                <!-- <ul class="course-data"> -->
                <!-- </ul> -->
                    <h2>What You'll Learn</h2>
                    <ul class="course-data">
                        {% for goal in course.goals %}
                            <li>- {{ goal }}</li>
                        {% endfor %}
                    </ul>
                    
            </div>
        </div>
        <div class="practice-section">
            <h2 class="time-to">Time to practice!</h2>

            <div class="row-course-data">
                <p>Let'ts print our favorite pet</p>
                <ul>
                    :) Using the knowledge you just learnt try and do the exercise above in the code box below.
                </ul>
            </div>
        </div>


    
        <!-- kode and output -->
        <div id="kode-and-output">
            <div class="kode-div">
                <h3>Kode</h3>
                <form>
                    <textarea id="yourcode" cols="40" rows="10"></textarea><br>
                    <button id="kode-run" type="button" onclick="runit()">Run</button>
                </form>
            </div>
            <div class="output-div">
                <h3>Output</h3>
                <pre id="output"></pre>
            </div>
        </div>
    </div>

    <!-- BEGINING skulpt -->
<script type="text/javascript">
// output functions are configurable.  This one just appends some text
// to a pre element.
function outf(text) {
    var mypre = document.getElementById("output");
    mypre.innerHTML = mypre.innerHTML + text;
}
function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
}

// This is the function that gets called when the user clicks the run button
function runit() {
var prog = document.getElementById("yourcode").value;
var mypre = document.getElementById("output");
mypre.innerHTML = '';
Sk.pre = "output";
Sk.configure({output:outf, read:builtinRead});
(Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
var myPromise = Sk.misceval.asyncToPromise(function() {
    return Sk.importMainWithBody("<stdin>", false, prog, true);
});
myPromise.then(function(mod) {
    console.log('success');
},
    function(err) {
    console.log(err.toString());
});
}
</script>

    <!-- include a graphic canvas -->
    <div id="mycanvas"></div>

    <!-- skulpt -->
{% endblock %}