{% extends './layout.html' %}
{% block body %}
    <div class="courses-container">
        <div class="course-main-content">
            {% if course %}
                <!-- <span class="span-orange">chapter</span>:  -->
                <h1 id="course-title">{{ course.title }}</h1>
            {% else %}
                <h1>Something is wrong no course</h1>
            {% endif %}

            <!-- Embedded Video -->
            <div style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden;" class="course-video">
                {% if course.title != "Introduction to Python: Chapter 1 - Getting Started" %}
                    <iframe
                        src="{{ course.video_link }}"
                        frameborder="0"
                        allowfullscreen
                        style="position:absolute; top:0; left:0; width:100%; height:100%;">
                    </iframe>
                {% else %}
                    <iframe
                        src="https://www.youtube.com/embed/bdUqQidffPE?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="position:absolute; top:0; left:0; width:100%; height:100%;">
                    </iframe>
                {% endif %}
            </div>

            <p class="course-description">{{ course.description }}</p>

            <div class="row-course-data">
                <!-- <p class="course-intro">{{ course.title }}</p> -->
                <!-- Goals -->
                <section class="course-goals">
                    <h2><span class="span-orange">What You'll Learn</span></h2>
                    <ul class="course-data">
                        {% for goal in course.goals %}
                        <li><span class="span-orange">-</span> {{ goal }}</li>
                        {% endfor %}
                    </ul>
                </section>

                <!-- topics -->
                <section class="course-topics">
                    <h2><span class="span-orange">Topics Covered</span></h2>
                    <ul class="course-data">
                        {% for topic in course.topics %}
                        <li><span class="span-orange">+</span> {{ topic }}</li>
                        {% endfor %}
                    </ul>
                </section>

                <!-- Activities -->
                <section class="course-activities">
                    <h2><span class="span-orange">Activities</span></h2>
                    <ul>
                        {% for activity in course.activities %}
                        <li>🎯 {{ activity }}</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>

        <!-- Practice session -->
        <div class="practice-section">
            <h2 class="time-to">Time to practice!</h2>

            <div class="row-course-data">
                <p class="course-data-p">Let's get our hands dirty!</p>

                <ul class="course-data">
                    <p class="course-data-p"> :) Using the knowledge you just learnt try and do the these exercses below:</p>
                    {% for exercise in course.exercises %}
                        <li style="color: #FE602F; font-weight: bold;"> > {{ exercise}}</li>
                    {% endfor %}
                </ul>

                <p class="course-data-p" style="color: green;">
                    <b>Instructions:</b>
                    <ol style="margin-top: 5px;">
                        <li style="color: green; font-weight: bold; font-size: 16px;">1. Write your code below in the "Kode" Frame</li>
                        <li style="color: green; font-weight: bold; font-size: 16px;">2. Check if you made no errors 🙂</li>
                        <li style="color: green; font-weight: bold; font-size: 16px;">3. Click the round green "Run" button</li>
                        <li style="color: green; font-weight: bold; font-size: 16px;">4. You should see your expected output in the "Output" Frame (green)</li>
                        <li style="color: green; font-weight: bold; font-size: 16px;">5. If it fails (and you dont' see anything), -don't worry! just go back to step 1 and try again 🙂</li>
                        <li style="color: rgb(114, 120, 114); font-weight: bold; font-size: 16px;">Good news: I will soon introduce a mechanims to help you... sounds great, right ?</li>

                    </ol>
                </p>

            </div>
        </div>

        <!-- kode and output -->
        <div id="kode-and-output">

            <div class="kode-div">
                <h3>Kode</h3>
                <form>
                    <textarea id="yourcode" cols="40" rows="10"></textarea><br>
                    <button id="kode-run" type="button" onclick="runit()">Run</button>
                </form>
            </div>
            <div class="output-div">
                <h3>Output</h3>
                <pre id="output"></pre>
            </div>
        </div>

        <div class="mark-complete">
            <form method="post" action="">
                {% csrf_token %}
                <button id="btn-complete">Mark as Completed  ✅</button>
            </form>
        </div>
    </div>

    <!-- marks complete and next course -->


    <!-- BEGINING skulpt -->
<script type="text/javascript">
// output functions are configurable.  This one just appends some text
// to a pre element.
function outf(text) {
    var mypre = document.getElementById("output");
    mypre.innerHTML = mypre.innerHTML + text;
}
function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
}

// This is the function that gets called when the user clicks the run button
function runit() {
var prog = document.getElementById("yourcode").value;
var mypre = document.getElementById("output");
mypre.innerHTML = '';
Sk.pre = "output";
Sk.configure({output:outf, read:builtinRead});
(Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
var myPromise = Sk.misceval.asyncToPromise(function() {
    return Sk.importMainWithBody("<stdin>", false, prog, true);
});
myPromise.then(function(mod) {
    console.log('success');
},
    function(err) {
    console.log(err.toString());
});
}
</script>

    <!-- include a graphic canvas -->
    <div id="mycanvas"></div>

    <!-- skulpt -->
{% endblock %}