.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 4px;
    max-width: 1000px;
}

.header {
    grid-column-start: 1;
    grid-column-end: -1;
}

.content {
    grid-column: 1 / -1;
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1;
}

/* making content grid */
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

/* makid aside content grid */
.aside-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

/* dashboard */
.dashboard-grid {
    grid-column: 1 / -1;
}