body {
    font-family: 'mulish', sans-serif;
}

.row-course-data {
    max-width: 850px;
    margin: 0px auto;
    width: 80%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 640px) {  /* Small screens (phones) */
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {  /* Tablets */
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) { /* Laptops */
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) { /* Desktops */
  .container {
    max-width: 1280px;
  }
}

#course-title {
    font-family: 'atma', sans-serif;
    text-align: center;
    color: rgba(7, 158, 7, 0.927);
    color: #5c9226e7;
    text-transform: uppercase;
    font-weight: 400;
}


#course-img {
    display: block;
    max-width: 900px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.course-intro {
    margin-top: 2em;
    margin-left: 2em;
    color: green;
}

.course-data {
    margin-left: 2.5em;
}

.course-data li {
    margin-bottom: 1em;
}

.time-to {
    text-align: center;
    font-family: 'atma', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 2em;
}

/* STYLING THE editor */
#yourcode {
    /* background-color: rgba(7, 3, 31, 0.887); */
    background-color: #466d2047;
    border: 8px solid rgb(100, 100, 100);
    color: rgb(16, 11, 1);
}

textarea {
    height: 400px;
    width: 400px;
    margin-bottom: 0;
    font-size: 18px;
}

#output {
    background-color: #476d20ca;;
    min-height: 400px;
    max-height: fit-content;
    width: 400px;
    border: 8px solid rgb(100, 100, 100);
    color: #F9E345;
    font-size: 18px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

#kode-run {
    margin: 0;
    background-color: #476d20ca;
    border: 0;
    color: white;
    padding: .8em 2em;
    font-size: large;
    font-family: inherit;
}

#kode-and-output{
    display: flex;
}

.kode-div {
    margin-right: 2.5em;
    margin-left: auto;
}

.output-div {
    margin-right: auto;
}

/* kode and output on small screens */
@media (max-width: 768px) {
    #kode-and-output {
        flex-direction: column;
    }

    .kode-div {
        margin: 0px auto;
    }

    .output-div {
        margin: 0px auto;
    }

}


/* grid resizing */
.course-main-content,
.practice-section,
#kode-and-output {
    max-width: 1000px;
    grid-column: 1/-1;
}

